@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");

body {
  font-family: ibm plex sans, sans-serif;
  font-size: 13px;
}

/* main > div {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  > div {
    flex: 1 1 100%;
  }

  &.home {
    > div {
      flex: 1 1 500px;
    }

    > :last-child {
      flex: 1 1 100%;
    }
  }
} */

details ul {
  max-height: 0;
  overflow: hidden;
}

details[open] ul {
  max-height: 300px;
  transition: max-height 0.5s ease-in;
}

details[open] span {
  transform: rotate(-180deg);
  transition: transform 0.3s ease-in;
}

/* .circle1 {
  position: relative;

  top: -15vh;
  left: 90vw;

  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  box-shadow: -20px 40px 0 10px rgb(255, 235, 235);
}
.circle2 {
  position: relative;
  content: "";
  top: 0;
  left: 0;

  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  box-shadow: 20px 30px 0 10px rgb(255, 235, 235, 0.5);
} */
.form-group {
  margin-bottom: 1rem;
  width: 100%;
}

::placeholder {
  font-size: 0.7rem;
}

.authForm form {
  width: 100%;
}

@media screen and (width >=768px) {
  main>div {
    gap: 10px;
    padding: 10px;
    align-content: flex-start;

    >div {
      border-radius: 10px;
    }
  }
}

@media screen and (width > 768px) {
  .auth {
    /*I need the background to be vertically splited, half white half red*/

    background: linear-gradient(to right,
        rgba(255, 255, 255, 0.4) 30%,
        rgba(221, 52, 68, 0.8) 70%);
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    overflow-x: hidden;
  }

  .authForm {
    width: 40%;
    padding: 32px;
    /*create blur transparent bakcground*/
    background: rgba(255, 255, 255, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .auth-D-filler {
    position: relative;
    background-size: cover;
    z-index: 1;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: white;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}

@media screen and (width <=768px) {
  .auth {
    /*I need the background to be vertically splited, half white half red*/

    position: relative;
    width: 100%;
    height: 100vh;

    overflow-x: hidden;
  }

  .authForm {
    width: 80%;
    margin: auto;
    /*create blur transparent bakcground*/
    padding: 16px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .auth-D-filler {
    display: none;
  }
}

@media (width >=1024px) {
  .unibus-btn {
    width: 40%;
    margin: auto;
  }

  .controls {
    width: 40%;
    margin: auto;
  }
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.text-muted {
  color: #6c757d !important;
}

.card-muted {
  color: #6c757d !important;
}

.card-selected {
  border: 1px groove rgba(128, 128, 128, 0.5);
  box-shadow: 0 0 6px rgba(128, 128, 128, 0.5) !important;
}

.small {
  font-size: 12px;
}

.text-right {
  text-align: right !important;
}

.seen {
  opacity: 0.6;
}

.two-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#sideBar nav .nav-container {
  animation: sideBar 0.3s cubic-bezier(0, 0.73, 1, 1);
}

@keyframes sideBar {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.sign-or hr {
  width: 130px;
  border-top: 1px solid #dee2e6;
}

.facebook-btn {
  background-color: #fff !important;
  border-color: #507cc0 !important;
  color: #507cc0 !important;
}

.osahanbus-social {
  font-size: 14px !important;
  padding: 14px !important;
  border-radius: 6px !important;
  letter-spacing: 1px !important;
}

.btn-block {
  display: block;
  width: 100%;
}

.google-btn {
  background-color: #fff;
  border-color: #df4930 !important;
  color: #df4930 !important;
}

.osahan-home-header img {
  height: 31px;
  border: 2px solid #fff;
  border-radius: 100px;
}

.padding-bt {
  padding-bottom: 85px;
}

.list-item-img {
  text-align: center;
  padding: 8px;
  background: #e8ebef;
  margin-bottom: 13px;
  border-radius: 8px;
}

.list-item-img img {
  height: 70px;
}

.listing-item p.mb-0.l-hght-10 {
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
}

.small,
small {
  font-size: 12px;
}

.l-hght-10 {
  line-height: 10px;
}

.listing-item small.text-muted.mb-2.d-block {
  font-size: 10px;
}

div.star-rating>* {
  margin-right: 3px;
}

.shape-img {
  width: 70px;
  height: 70px;
  object-fit: scale-down;
}

.notification .icon span.percentage {
  font-size: 16px;
  font-weight: 700;
}

.notification .icon span {
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}

.rounded-1 {
  border-radius: 6px;
}

.select-seat label.btn.check-seat.btn-success.small.btn-sm.rounded.mb-2 {
  border-color: #606060;
}

input {
  box-shadow: none !important;
}

.select-seat .btn {
  padding: 6px 3px;
  width: 35px;
  height: 35px;
  font-size: 14px;
  aspect-ratio: 1/1;
}

.check-seat {
  background-color: #fff;
  color: #000;
}

.rounded {
  border-radius: 6px;
}

.select-seat label.btn.check-seat.btn-success.small.btn-sm.rounded.mb-2.active {
  border-color: #1e7e34;
}

.btn-success:not(:disabled):not(.disabled).active,
.show>.btn-success.dropdown-toggle {
  color: #fff;
  background-color: #1e7e34;
  border-color: #1c7430;
}

.btn-success:not(:disabled):not(.disabled):not(:has(input:checked)):hover {
  color: #000;
  background-color: #73cf88;
  border-color: #1b6d2d;
}

.btn-group-vertical>.btn.active,
.btn-group-vertical>.btn:active,
.btn-group-vertical>.btn:focus,
.btn-group>.btn.active,
.btn-group>.btn:active,
.btn-group>.btn:focus {
  z-index: 1;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: #fff;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  height: 50px;
  background: hsla(0, 0%, 53.3%, 0.4);
}

::-webkit-scrollbar-thumb {
  height: 6px;
  border: 4px solid transparent;
  background-clip: padding-box;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset -1px -1px 0 rgba(0, 0, 0, 0.05),
    inset 1px 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: inset -1px -1px 0 rgba(0, 0, 0, 0.05),
    inset 1px 1px 0 rgba(0, 0, 0, 0.05);
}

.btn-group-toggle>.btn input[type="checkbox"],
.btn-group-toggle>.btn input[type="radio"],
.btn-group-toggle>.btn-group>.btn input[type="checkbox"],
.btn-group-toggle>.btn-group>.btn input[type="radio"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

.edit-bt {
  left: 0;
  cursor: pointer;
  top: 0;
  z-index: 99;
  right: 0;
  margin: auto;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  color: #fff;
  opacity: 0.7;
}

#upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.map-container {
  height: 100vh;
  width: 100%;
  position: relative;
}

.status-element {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.unibus-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}

.unibus-btn button {
  width: 100%;

  font-size: 14px;
  padding: 14px;
  border-radius: 6px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.img-shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.controls {
  width: 100%;
  position: absolute;
  top: 20px;
  /* Adjust the top position */
  padding: 10px;
  z-index: 999;
}

.controls-btn {
  width: 100%;
  position: absolute;

  /* Adjust the top position */
  padding: 10px;
  z-index: 999;
}

.combobox-input {
  width: 100%;
  height: 40px;
  padding: 0.5rem;
  margin: 0 0 0 0;
  border-radius: 5px;
  z-index: 1;
  /* give more box shadow */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.osahan-toggle {
  position: relative;
  margin-left: 10px !important;
}

.osahan-toggle.notify::after {
  content: "!";
  position: absolute;
  top: -5px;
  left: -5px;
  width: 20px;
  height: 20px;
  font-size: 12px;
  background: yellow;
  color: red;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  font-weight: bold;
  animation: bounce 2s infinite;
}

li.notify {
  position: relative !important;
  box-sizing: border-box;
}

li.notify::after {
  content: "!";
  position: absolute;
  top: 30%;
  right: 10px;
  width: 20px;
  height: 20px;
  font-size: 12px;
  background: yellow;
  color: red;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  font-weight: bold;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  from {
    transform: scale(1.01);
  }

  to {
    transform: scale(0.9);
  }
}

div.modal {
  display: flex;
  justify-content: center;
  background-color: rgba(142, 142, 142, 0.26);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3);
}

div.modal-content {
  box-shadow: 0 0 10px rgb(108, 108, 108);
}

div.modal-dialog {
  margin: auto;
}

#notifications {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  top: 10px;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: 99;
  width: 100%;
  max-height: 140px;
  overflow-y: scroll;
}

#notifications>div {
  width: 90%;
  height: 30px;
}

#notifications>div:last-child {
  height: auto;
}

.hide {
  animation: hideNotification 1s ease-in-out;
}

/* "confirmation", "error", "cancellation", "reminder", "discount" , "report" */
.notification_message {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  width: 90%;
  padding: 10px 5px 5px;
  border-radius: 20px;
  margin: auto;
  margin-bottom: 2px;
  border-bottom: 1px solid #eee;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  animation: dropNotification 0.5s ease-in-out;
  box-shadow: 0 1px 4px rgb(108, 108, 108);

  &.confirmation {
    background: rgba(0, 255, 0, 0.1);
  }

  &.error {
    background: rgba(255, 255, 0, 0.1);
  }

  &.cancellation {
    background: rgba(255, 0, 0, 0.1);
  }

  &.reminder {
    background: rgba(0, 0, 255, 0.1);
  }

  &.discount {
    background: rgba(0, 255, 255, 0.1);
  }

  &.report {
    background: rgba(0, 191, 255, 0.1);
  }

  &.profile {
    background: rgba(179, 255, 0, 0.1);
  }
}

@keyframes dropNotification {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes hideNotification {
  from {
    transform: translateY(0%);
    opacity: 1;
  }

  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.notification_icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background: #000;
  color: #fff;
  aspect-ratio: 1/1;
}

.notification_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}

.notification_title {
  font-size: 14px;
  font-weight: 600;
  color: #000;
}

.notification_description {
  font-size: 12px;
  font-weight: 400;
  color: #000000cc;
}

.notification_message:hover {
  cursor: pointer;
}

label:has(input[type="radio"]:checked) {
  color: #eee;
  background-color: #1e7e34;
  border-color: #1c7430;
}

textarea {
  width: 100%;
  border: none;
  resize: none;
  outline: none;
  font-size: 14px;
  border-radius: 2px;
  padding: 6px;
  box-shadow: inset 0 0 3px rgba(108, 108, 108, 0.5);
  transition: all 0.3s ease-in;

  &:focus {
    box-shadow: 0 0 3px rgba(108, 108, 108, 0.5);
    border-radius: 6px;
  }
}

.image-section {
  width: 100%;
  height: 200px;
  aspect-ratio: 16/9;
}

.profile-image {
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
}

a {
  text-decoration: none !important;
  color: #dd3444;
}

/*navigation styles*/
.footerMenu .active {
  color: #ffc106 !important;
}

.footerMenu a {
  padding: 10px 2px !important;
  display: block;
}

small.osahan {
  position: absolute;
  top: 10px;

  background: #dd3444;
  min-width: 17px;
  font-size: 9px;
  height: 17px;
  border-radius: 50px;
  padding: 0 1px;
  margin: 0 0 0 1px;
  border: 2px solid;
}

.locationNowButton {
  position: absolute;
  padding: 7.5px;
  right: 10px;
  top: 10px;
  aspect-ratio: 1/1;
  text-align: center;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: #dd3444;
    color: #fff;
  }
}

.journey-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  width: 100%;
  padding: 10px 0;
}

.journey-container>.journey-card {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  gap: 5px;
  padding: 10px 5px;
  background-color: #fff;
  box-shadow: 0 2px 2px rgba(108, 108, 108, 0.24);
}

.journey-card-header span {
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  font-weight: bold;
}

.mini-card {
  flex: 1 0 150px;
  border-radius: 2px;

  >span:nth-child(1) {
    font-size: clamp(1rem, 1.5vw, 1.2rem);
    font-weight: 600;
  }

  >span:nth-child(2) {
    font-size: clamp(0.8rem, 1.5vw, 1rem);
    font-weight: 400;
  }
}

@media screen and (width <=768px) {
  .journey-container>.journey-card {
    border-radius: 0;
  }

  .mini-card {
    border-radius: 0;
  }

  .hc-offcanvas-nav {
    position: fixed;
  }

  .hc-offcanvas-nav .nav-container {
    position: fixed;
  }
}